<h2>Burgers waiting to be consumed!</h2>
<br>
<ul style="list-style: none;">
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.name}}
        <br>
        {{> burgers/devour-burger}}
        <hr>
      </li>
    {{/unless}}
  {{/each}}
</ul>
